
.colorBgAbout{
	background-color: $color-black;
}

.about{	
	color: #fff;
	@include configSections;	
}

.lineAbout{	
	border-left: $ui-separator--yellow;
	@include uiLineSeparatorDesktop;
}

@media screen and (max-width: 658px) {
	.lineAbout{		
		border-top: $ui-separator--yellow; 
		@include uiLineSeparatorMobile;
	}
}
