

footer{
	width: 100%;
	background-color: #000;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 0;	
}

.footer{
	margin: 0 auto;	
	width: 100%;
	max-width: 1366px;	
	text-align: center;
	vertical-align: middle;
	color: #fff;
	overflow: hidden;
	border-top: 1px dotted $color-yellow		
}

.logoFooter{
	float:left;
	width: 9%;
	height: 100%;
    line-height: 90px;	
}

.linkFooter{
	float:right;
	width: 45.5%;
	height: 100%;
    line-height: 90px;
    text-align: right;
}

.linkFooter ul{	
    line-height: inherit;
}

@media screen and (max-width: 980px) {

	.linkFooter li{
	color: #fff;
    font-weight: 100;
    display: inline-block;
    padding-right: 16px;
    width: auto;
    background: transparent;
    float: none;
	}

	.linkFooter li:last-child{
		padding-right: 0;
	}

	.linkFooter nav   {
	margin: 0 auto;
	margin-top: 25px;	
	text-decoration: none;
	height: 75px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
	}

	.linkFooter ul {    
    text-align: center;
    padding: 0;
}

}

@media screen and (max-width: 805px) {

	footer{
		height: auto;
	}

	.logoFooter{
		float: none;
		margin: 0 auto;
		width: 100%;
		line-height: 70px;

	}

	.linkFooter{
		float: none;
		margin: 0 auto;
		width: 100%;
	}

}


