nav {
	margin: 0 auto;
	margin-top: 25px;
	background-color: #292929;
	text-decoration: none;
	height: 75px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
}

nav.fixed {	
	margin-top: 0px;		
}

nav.fixed ul {
	line-height: 75px;
}
