header{	
	text-align: right;	
	margin: 0 auto;
	width: 50%;	
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header.fixed{
	right:0;
	left:0;
	margin-right: auto;
	margin-left:auto;
	position: fixed;
	height: 5px;
	background-color: transparent;
	width: 50%;
	z-index: 1;
}