
.logo{
	float:left;
	text-align: center;	
	padding-left: 16px;
	font-size: 40px;
	padding-top: 13px;
	-webkit-transition: all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo-fixed {
	font-size: 30px;
	line-height: 45px !important;
	height: auto;
}

.logo-fixed h1{
	font-size: 30px;
	line-height: 45px;
	height: auto;
}